body,td,th {
    color: #000000;
    background-color: #000000}

#whole-website{
	width:100%;
    height: Auto;
}


/* Style for menu with the styles of the web */
#mode-menu{
margin-top: 5%;
margin-bottom: 5%;

}


/* EMERGENCY STOP */

#emergency-stop-button{

    background-color: #737373;
    border: none;
    margin-bottom: 2%;
    color: red;
}







/* ############################################### */
/* buttons for driving robot  */
#auto-drive{
    border: none;
    margin-right: 3%;
    background-color: #737373;
}


#control-by-keyboard{
    border: none;
    background-color: #737373;
}


#robot-controller{
	background-color: rgb(12, 1, 1);
    font-size:1.2em;
    color: rgb(5, 1, 1);
}

#topPartDrivingController{
    padding-left: 5.0em;
    
}

#middlePartDrivingController{
    padding-left: 2.4em;
   
}

#bottomPartDrivingController{
    padding-left:5.0em;
    
}

#text-in-button-go {
    margin-left: 10%;
    color: white;
}

.button-forward{
    border: none;
    color: white;
    padding: 0.0% 0.4% ;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.4% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid #737373;

}


.button-down{
    border: none;
    color: white;
    padding: 0.1% 0.1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.4% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-top: 3em solid #737373;
}

.button-left{
    border: none;
    color: white;
    padding: 0.0% 0.0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.0% 0.0%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-top: 3em solid transparent;
    border-right: 3em solid #737373;
    border-bottom: 3em solid transparent;
}


.button-stop {
    color: white;
    padding: 0.0% 0.0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.0% 0.0%;
    cursor: pointer;

    width: 0;
    height: 0;
    border-left: 3em solid #4a4a4d;
    border-right: 3em solid #4a4a4d;
    border-bottom: 3em solid #4a4a4d;
    border-top: 3em solid #4a4a4d;
}

.button-right{
    border: none;
    color: white;
    padding: 0.0% 0.0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.0% 0.0%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-top: 3em solid transparent;
    border-left: 3em solid #737373;
    border-bottom: 3em solid transparent;
}

/* end css for buttons to control robot*/
/* ############################################### */

#camera-view{
    padding: 1px;
}

/* ############################################### */
/* buttons for driving robot  */
#camera-controller{
    border: none;
    background-color: black;
    font-size:1.2em;
    color: rgb(7, 0, 0);
}

#camera-on{
    border: none;
    margin-left: 24%;
    margin-bottom: 5%;
    background-color: #737373; 
}

#camera-button{
    border: none;
    margin-right: 5%;
    margin-bottom: 0%;
    background-color: #737373; 
}

#control-camera-by-keyboard{
    border: none;
    margin-left: 0%;
    margin-bottom: 0%;
    background-color: #737373; 
}

#top-part-camera{
    padding-left: 6.2em;
}

#middle-part-camera{
    padding-left: 3.5em;
}

#bottom-part-camera{
    padding-left:6.2em;
}





.button-camera-up{
    border: none;
    color: white;
    padding: 0.1% 0.1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.4% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-bottom: 3em solid #737373;

}


.button-camera-down{
    border: none;
    color: white;
    padding: 0.1% 0.1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.4% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-top: 3em solid #737373 ;
}

.button-camera-left{
    border: none;
    color: white;
    padding: 0.1% 0.1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.4% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-top: 3em solid transparent;
    border-right: 3em solid #737373;
    border-bottom: 3em solid transparent;
}


.button-camera-home {
    color: white;
    padding: 0.1% 0.1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.2% 0.2%;
    cursor: pointer;

    width: 0;
    height: 0;
    border-left: 3em solid #4a4a4d;
    border-right: 3em solid #4a4a4d;
    border-bottom: 3em solid #4a4a4d;
    border-top: 3em solid #4a4a4d;
}

.button-camera-right{
    border: none;
    color: white;
    padding: 0.0% 0.0%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.2% 0.2%;
    cursor: pointer;
    background-color: #000000;

    width: 0;
    height: 0;
    border-top: 3em solid transparent;
    border-left: 3em solid #737373;
    border-bottom: 3em solid transparent;
}

/* end css for buttons to control camera */
/* ############################################### */



#main_content {
    background-color:#000000;
    margin-top: 25px;
    color: aliceblue
    }

    #speed-driving-mode{
        margin-top: 5%;

    }

    #slow{
        border: none;
        background-color: #737373;
        margin-right: 9%;
    }

    #normal{

        background-color: #737373;
        border: none;
        margin-right: 9%;
    }


    #fast{

        background-color: #737373;
        border: none;
    }



#camera-speed-buttons{
    margin-top: 5%;
}




    #camera-slow{

        background-color: #737373;
        border: none;
        margin-right: 9%;
    }

    #camera-normal{

        background-color: #737373;
        border: none;
        margin-right: 9%;
    }


    #camera-fast{

        background-color: #737373;
        border: none;
    }


#main_content_index {
    
    background-color:#000000;
    color: aliceblue
    }



a {
    color: aliceblue
 }


 /* Display data from the sonar */

 #display-sonar-reading{
    color: white; 
 }







/* Part with the on/off buttons */



#speaker-on-off{
    border: none;
    background-color: #737373;

}

#light-on-off{
    border: none;
    background-color: #737373; 
}

#auto-light-on-off{
    border: none;
background-color: #737373; 
}




/* Constainer additional options */
#additional-options{

    margin-left: 0%;
    margin-top: 3%;
}

#additional-options2{

    margin-left: 0%;
    margin-top: 0.5%;
}





/* footer */

#footer{
    padding-top: 5px;
	margin-top: 30px;
	margin-left: 30px;
	text-align: center;
	float: right;
	background-color:#0f0504;
	font-size:0.7em;
	color:#737373;
  
}

#footerMid{
	padding-left: 50px;
    

}

#footerRight{
   
   padding-left: 50px;

}
#footerRight p{
   
   padding-top: 20px;

}
	
#footer h6{ 
    padding-left: 30px;
	text-align: center;
	color: white;
	font-size:1.0em;
	text-transform:uppercase;
	margin-top:2px;
	letter-spacing:2px;
}


#footer li{
    text-align: center;
	list-style-type: none;
}


/* social media */
.fa {
  margin-right: 15px;
  padding: 10px;
  font-size: 1px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}





.fa:hover {
    opacity: 0.7;
}

