<!doctype html>
<html lang="en">
  <head>

      
    <title>Controller to Mobile Robot</title>
   
		<meta charset="utf-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Optimisation keywords-->
		<meta name="keywords" content="mobile robots, robotics, vision system ">
		<meta name=”description” content="Roboworld is for lovers robotics">
		<!-- getbootstrap.com -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		
	
		
		<!-- CSS STYLES for Camera.html -->
		<link href="/static/css/camera.css" rel="stylesheet" type="text/css">
	
		
		
		<!-- javacript to validation allerts -->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		<!-- Font Type from google-->
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">  
		<!--SOCIAL MEDIA ICONS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		

	</head>


  <body>
  
  
 
  
  
  
  
 <div class="container-fluid" id ="whole-website"  >
     <!--Dropdown menu for different style of the application  -->
     <div class="container">
         <div class="dropdown">
             <button class="btn btn-secondary dropdown-toggle" type="button" id="mode-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Modes
             </button>
             <div class="dropdown-menu" aria-labelledby="Style">
                 <a class="dropdown-item" href="#">Modern</a>
                 <a class="dropdown-item" href="#">Retro</a>
                 <a class="dropdown-item" href="#">Future</a>
                 <a class="dropdown-item" href="about.html">About</a>
             </div>
         </div>
     </div>


     <div class="container" id="controller-camera-view-rotate-camera">

         <div class="row">
             <div class="col-sm">
                 <!--One of three columns
                 Controller for driving robot-->

                 <div id="robot-controller">

                     <div>
                        
                        <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" onclick="window.location.href='auto-drive'" id="auto-drive"> Auto Drive </button>
                         <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="control-by-keyboard"> Control by keyboard </a>
                     </div>

                     <div id="topPartDrivingController">
                        <div id="text-in-button-go"> </div> 
                        <!-- <button type="button" class="button-forward" onclick="window.location.href='forward'">  GO </button> -->
                        <button type="button" id='go' class="button-forward"> </button>
                    </div>

                     <div id="middlePartDrivingController">
                         <!-- <button type="button" class="button-left" onclick="window.location.href='turn_left'"> <a href="turn_left" > L </a></button> -->
                         <button class="button-left" onclick="window.location.href='turn_left'"> </button>
                         <button type="button" class = "button-stop" onclick="window.location.href='stop'"></button> 
                         <button type="button" class="button-right" onclick="window.location.href='turn_right'"> </button>
                     </div><!-- end middle div-->

                     <div id="bottomPartDrivingController">   
                         <button type="button" class="button-down" onclick="window.location.href='backward'" > </button>
                     </div>

                     <!-- pick how fast car will be moving-->
                    <div id="speed-driving-mode">
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="slow"> Slow </a></li>
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="normal"> Normal </a></li>
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="fast"> Fast </a></li>
                    </div>
                 </div><!--End of class robot-controller for motion-->
             </div><!-- End of the 1st column, robot move -->



             <div class="col-sm">
                 <!--2nd  of three columns camera view-->
                 <div><a href="camera.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-on"> Camera ON/OFF </a>
                     <!--<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-off"> Camera OFF </a>-->
                 </div>

                 <div id="camera-view">
                     
                     <!-- this part for camera display in the window-->
                     <p>
                     <img src="{{ url_for('video_feed') }}" style="width:95%;">
                     </p>

                 </div>
             </div> <!-- End of the 2nd column, robot move -->

             <!-- controller for camera -->
             <div class="col-sm">
                 <!--3rd  of three columns
                 Controller for camera-->
                 <div><a href="camera_on_of.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-button"> Camera </a>
                     <a href="camera-control-by-keyboard" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="control-camera-by-keyboard"> Camera by keyboard </a>
                 </div>
                 <div id="camera-controller">
                     <div id="top-part-camera">
                         <!--<a href="controller.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="forward-button"> GO</a>-->
                         <button class="button-camera-up" href="camera-up.html" > </button>
                     </div>
                     <div id="middle-part-camera">


                         <!--<a href="turn_left.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="left-button"> LEFT</a>-->
                         <button class="button-camera-left" href="camera_left.html" >  </button>
                         <!--<div id="left-button"> L-->
                         <button class = "button-camera-home" href="camera_home_position.html"  > </button>
                         <!--<a href="turn_right.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="right-button"> RIGHT</a>-->
                         <button class="button-camera-right" href="camera_right.html" >  </button>

                     </div><!-- end middle div-->

                     <div id="bottom-part-camera">
                         <!--<a href="backward.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="backward-button"> BACKWARD</a>-->
                         <button class="button-camera-down" href="camera_down.html" > </button>
                     </div>

                     <!-- pick how fast ca will be moving-->
                     <div id="camera-speed-buttons">
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-slow"> Slow </a></li>
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-normal"> Normal </a></li>
                        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="camera-fast"> Fast </a></li>
                    </div>


                 </div><!--End of class robot-controller for motion-->




             </div><!-- end 3rd column-->
         </div><!-- end row-->
     </div><!-- end of container first part of application, controller robot, camera view, controller camera-->


     <!-- Display data from the sonar-->
     <div class="container-fluid" id="display-sonar-reading">

        <div class="container" id="sonar-data">

        <p>Distance is: {{dist}} cm. {{info}}</p>

        </div>
    </div>

<!-- additional buttons with speaker on off, speed , lights, sensor status and intelligent programmed options-->
     <div class="container-fluid" id="additional-options">
       
         <div class="container">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="chat"> Chat </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Lights On/Off </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="auto-light-on-off"> Auto Lights On/Off </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Sonar - Measure distance </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Lidar - Measure distance </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="speaker-on-off"> Line follower </a>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Follow object</a>
        </div>

        <div class="container-fluid" id="additional-options2">
            <div class="container">
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="speaker-on-off"> Acellerometer/Gyroscope </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Lights On/Off </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="auto-light-on-off"> Auto Lights On/Off </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Sonar - Measure distance </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Lidar - Measure distance </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="speaker-on-off"> Line follower </a>        
           </div>

           <div class="container-fluid" id="additional-options2"> 
            <div class="container">
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="speaker-on-off"> Follow Object </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Segmentation </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="auto-light-on-off"> Clasification </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Object Detection </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Conrolled by gestures </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="speaker-on-off"> Recognize object 2 </a>
               <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" id="light-on-off"> Recognize object 3</a>
           </div>
     </div>


     </div>
  <!-- description web app -->   
   <div class="container-fluid" id="main">
             <p>Another paragrapth</p>
   </div>

        <footer class="col-lg-12 col-sm-offset-1 col-sm-12 col-md-offset-0 col-md-12" id="footer">
          <p>RoboAPP - Application created by Marek Augustyn</p>
        </footer>
     <!-- Call Javascrip on locl disk -->
     <script src="/static/js/camera.js"></script>

     <!-- Java script BOOTSTRAP SCRIPT-->
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
